.btndropdown{
    /* margin-left: 5px; */
    width: fit-content;
    border-radius: 3px;
    padding: 6px 6px;
    border-color: white;
    text-align: center;
    background-color: #049648;;
    color: rgb(255, 255, 255);
    /* #049648; */
  }
  
  .datecycle{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(2,auto);
  }